.box-store {
    display: inline-block;
    height: 554px;
    background-color: #fff;
    vertical-align: middle;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-right: 157px;
    padding-left: 100px;
    position: relative;
}
.box-store::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    transform: translateX(-100%);
    box-shadow: inset 0 0 8px 0 rgb(50, 50, 50, 0.36);
}

@media (max-width:1325px) {
    .box-store {
        margin-right: 140px;        
        text-align: center;
    }
}

@media(max-width: 1310px) {
    .box-store {
        display: block;
        border-radius: 0;
        margin-right: 0px;
        margin-bottom: 30px;
        padding-left: 0px;
    }
}

@media(max-width: 560px) {
    .box-store{
        height: auto;
    }
    .box-store >.photo {
        width: 100%;
    }
}