.wrap-box {
    display: inline-block;
    width: 454px;
    vertical-align: middle;
    position: relative;
}

.wrap-box>.btn {
    position: absolute;
    transform: translateY(calc(100% + 28px));
    width: 100%;
}
.wrap-box>.btn> .button-store{
    float: right;
}
.wrap-box>.btn> .button-store.-second{
    float: left;
}

@media(max-width: 1310px) {
    .wrap-box {
        width: 100%;
    }

    .wrap-box>.btn {
        position: static;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        transform: none;
    }
    .wrap-box>.btn> .button-store,
    .wrap-box>.btn> .button-store.-second{
        float: none;
    }
}

